<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
    <title>EShop app</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">EShop</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">List</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <a class="btn btn-primary" th:href="@{/products/new}">Add Product</a>
        </div>
        <div class="col-12 mt-3">
            <form class="form-inline" th:method="get">
                <div class="form-group mb-2 mr-2">
                    <label for="titleFilter" class="sr-only">Title filter</label>
                    <input type="text" class="form-control" id="titleFilter" th:value="${param.titleFilter}"
                           name="titleFilter" placeholder="Title Filter"/>
                </div>
                <div class="form-group mb-2 mr-2">
                    <label for="minPriceFilter" class="sr-only">Min price filter</label>
                    <input type="number" class="form-control" id="minPriceFilter" th:value="${param.minPriceFilter}"
                           name="minPriceFilter" placeholder="Min Price"/>
                </div>

                <div class="form-group mb-2 mr-2">
                    <label for="maxPriceFilter" class="sr-only">Max price filter</label>
                    <input type="number" class="form-control" id="maxPriceFilter" th:value="${param.maxPriceFilter}"
                           name="maxPriceFilter" placeholder="Max Price"/>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Apply</button>

            </form>

        </div>

        <div class="col-12">
            <table class="table table-bordered my-2">
                <thead>
                <tr>

                    <!-- сортировка по ID -->
                    <th scope="col">Id<a th:href="@{/products(
                        page=${products.getNumber()+1},
                        size=${products.size},
                        sort=${'id'},
                        titleFilter=${param.titleFilter},
                        minPriceFilter=${param.minPriceFilter},
                        maxPriceFilter=${param.maxPriceFilter})}">
                        <i class="fa fa-sort-down"></i></a>
                    </th>

                    <!-- сортировка по имени -->
                    <th scope="col">Product name<a th:href="@{/products(
                           page=${products.getNumber()+1},
                           size=${products.size},
                           sort=${'name'},
                           titleFilter=${param.titleFilter},
                           minPriceFilter=${param.minPriceFilter},
                           maxPriceFilter=${param.maxPriceFilter})}">
                        <i class="fa fa-sort-down"></i></a>
                    </th>

                    <!-- сортировка по цене -->
                    <th scope="col">Price<a th:href="@{/products(
                        page=${products.getNumber()+1},
                        size=${products.size},
                        sort=${'price'},
                        titleFilter=${param.titleFilter},
                        minPriceFilter=${param.minPriceFilter},
                        maxPriceFilter=${param.maxPriceFilter})}"><i class="fa fa-sort-down"></i></a></th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${products.hasContent()}" th:each="product : ${products.content}">
                    <th scope="row" th:text="${product.id}">1</th>
                    <td th:text="${product.name}">Apple</td>
                    <td th:text="${product.price}">10</td>
                    <td>
                        <a class="btn btn-success" th:href="@{/products/{id}(id = ${product.id})}"><i
                                class="fas fa-edit"></i></a>
                        <form class="d-inline" th:method="delete" th:action="@{/products/{id}(id = ${product.id})}">
                            <button type="submit" a class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                        </form>
                    </td>
                </tr>
                <tr th:unless="${products.hasContent()}">
                    <td colspan="4">No products</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- проверка пустой ли список продуктов для отображения номеров страниц -->
        <div th:if="${products.hasContent()}" class="col-12">
            <nav aria-label="...">
                <ul class="pagination">

                    <!-- возврат к предыдущей странице со всеми параметрами  -->
                    <li th:if="${products.hasPrevious()}" class="page-item">
                        <a class="page-link"
                           th:href="@{/products(
                           page=${products.getNumber()},
                           size=${products.size},
                           sort=${param.sort},
                           titleFilter=${param.titleFilter},
                           minPriceFilter=${param.minPriceFilter},
                           maxPriceFilter=${param.maxPriceFilter})}"
                           tabindex="-1">Previous</a>
                    </li>
                    <li th:unless="${products.hasPrevious()}" class="page-item disabled">
                        <a class="page-link">Previous</a>
                    </li>

                    <li th:each="num : ${#numbers.sequence(1, products.totalPages)}"
                        th:classappend="${num == products.number +1} ? 'active'"
                        class="page-item">
                        <a class="page-link"
                           th:text="${num}"
                           th:href="@{/products(
                           page=${num},
                           size=${products.size},
                           sort=${param.sort},
                           titleFilter=${param.titleFilter},
                           minPriceFilter=${param.minPriceFilter},
                           maxPriceFilter=${param.maxPriceFilter}
                           )
                           }">1</a>
                    </li>

                    <!-- переход на следующую страницу со всеми параметрами -->
                    <li th:if="${products.hasNext()}" class="page-item">
                        <a class="page-link"
                           th:href="@{/products(
                        page=${products.getNumber()+2},
                        size=${products.size},
                        sort=${param.sort},
                        titleFilter=${param.titleFilter},
                        minPriceFilter=${param.minPriceFilter},
                        maxPriceFilter=${param.maxPriceFilter})}"
                           tabindex="-1">Next</a>
                    </li>
                    <li th:unless="${products.hasNext()}" class="page-item disabled">
                        <a class="page-link">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>